/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;/*remove sublinhado link*/
    font-family: 'Ubuntu', sans-serif;
}
/*footer*/
.footer {
    background: rgb(14, 0, 0);
    padding: 70px 0;/*distancia encima e emabaixo*/
}
ul {
    list-style: none;
}
/*row*/
.row {
    display: flex;/*alinha em linha lado a lado*/
    flex-wrap: wrap;
}
/*container*/
.container {
  max-width: 1440px;/*ajusta a largura total*/
  background: #111;
  margin: auto;
}
.column {
    width: 25%;/*ajusta as 4 colunas */
    padding: 0 50px;
}
.column h4 {
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600px;
    position: relative;
}
.column h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: brown;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.column ul li:not(:last-child) {
    margin-bottom: 10px;
}
.column ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}
.column ul li a:hover {
    color: rgb(243, 10, 10);
    padding-left: 15px;
}
.column .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #f6f6f6;
    background: rgb(13, 3, 148);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;/*alinhou os icones*/
    border-radius: 50px;
    transition: all 0.5s ease;
}
.column .social-links a:hover {
   color: crimson;
   background-color: #fff;
}
.copyright {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #444;
    text-align: center;
    font-weight: 600;
}
span {
    align-content: space-between;
    color: #fff;
}
span a {
    align-content: space-between;
    color: rgb(243, 7, 7);
}
/*modo responsive*/
@media only screen and (max-width: 500px) {
    .container {
        max-width: 500px;/*ajusta a largura total*/
        background: #333;
        margin: auto;
    }
    .column {
        width: 50%;/*ajusta as 4 colunas */
        padding: 50px 50px;
    }
    .row {
        display: flex;/*alinha em linha lado a lado*/
        flex-wrap: wrap;
    }
    .column h4 {
        font-size: 18px;
        color: aliceblue;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 600px;
        position: relative;
    }
    .column .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        font-size: 25px;
        background: rgb(1, 45, 141);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;/*alinhou os icones*/
        border-radius: 60px;
        transition: all 0.5s ease;
    }
}
